* {
  margin: 0;
  padding: 0;
  font-family: cursive;
  color: rgb(31, 50, 95);
}
#first-section {
  background-image: url(../assets/Hero-bg.png);
  max-width: 1920px;
  height: 652px;
  /* background-color: red; */
  margin: 0 auto;
}
#first-section .home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0 20px;
}
#first-section .home img {
  margin-top: 28px;
}
#first-section .home h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
}
#first-section .home p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}
#first-section .home button {
  padding: 16px 30px;
  border-radius: 8px;
  color: white;
  background: rgb(31, 50, 95);
  cursor: pointer;
}
/* second section  */

#second-section {
  background-color: rgba(13, 19, 33, 0.02);
  margin: 80px auto;
  padding: 20px;
  max-width: 1140px;
  height: 1395px;
}
#second-section .info {
  /* background-color: aqua; */
  max-width: 946px;
  height: 1235px;
  margin: 70px auto;
}
#second-section .info .title {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 5px;
}
#second-section .info .subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.7;
}
#second-section .card-container {
  max-width: 946px;
  height: 336px;
  background-color: rgba(135, 233, 96, 0.096);
  margin-top: 20px;
}
#second-section .card-container .card {
  max-width: 850px;
  height: 240px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin: auto;
}
.card-container .card .card-box {
  margin: auto;
}
.card-container .card .card-box h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 17px;
}
.card-container .card .card-box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  padding-bottom: 17px;
}
.card-container .card .card-box button {
  padding: 12px 20px 12px 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  cursor: pointer;
}
.card-container .card .images {
  margin-top: 50px;
  width: 259.56px;
  height: 217.01px;
}

/* third-section */

#third-section {
  max-width: 1140px;
  height: 777px;
  margin: 50px auto;
  text-align: center;
}
#third-section .first-div h1 {
  margin: 24px 0px;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
}
#third-section .first-div p {
  margin: 24px 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}
#third-section .second-div iframe {
  margin-top: 20px;
  width: 1076px;
  height: 580px;
}
/* forth-section */

#forth-section {
  max-width: 1140px;
  height: 463px;
  margin: 50px auto;
  /* background-color: rgb(0, 255, 170); */
}
#forth-section .headline {
  text-align: center;
  padding: 20px 0;
}
#forth-section .headline h1 {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
}
#forth-section .headline p {
  opacity: 0.7;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 20px;
}

#forth-section .card-parent {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 20px;
}
#forth-section .card-parent .card-container {
  max-width: 364px;
  height: 300px;
  border-radius: 16px;
  border: none;
}
#forth-section .card-parent .card-container .card-box {
  padding: 40px;
}
#forth-section .card-parent .card-container .card-box img {
  padding-bottom: 15px;
}
#forth-section .card-parent .card-container .card-box h2 {
  padding-bottom: 15px;
}
#forth-section .card-parent .card-container .card-box p {
  padding-bottom: 15px;
}

/* fifth-section  */

#fifth-section {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.301),
      rgba(0, 0, 0, 0.281),
      rgba(0, 0, 0, 0.308)
    ),
    url(../assets/handshake.jpg);
  background-position: center;
  border-radius: 16px;
  max-width: 1140px;
  height: 314px;
  margin: 50px auto;
}

#fifth-section .header {
  text-align: center;
  padding: 20px;
}

#fifth-section .header h1 {
  color: white;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  margin: 16px 0px;
}
#fifth-section .header p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 16px 0px;
  opacity: 0.7;
}
#fifth-section .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 20px 0px;
}
#text {
  width: 448px;
  height: 27px;
  padding: 19px 20px 19px 20px;
  /* background-color: red; */
  font-size: 18px;
  border-radius: 8px;
  border: none;
}
#submit {
  width: 120px;
  height: 58px;
  padding: 17px 20px 17px 20px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  cursor: pointer;
}

/* footer  */

#footer .parent {
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.parent .child2 a {
  padding-left: 20px;
}
